@using Agenda.Web.Models
@model Agenda.Web.ViewModels.OrganisationOverview.OrganisationViewModel

<tr>
    <td>
        <a class="btn btn-secondary btn-sm"
           asp-controller="Organisation"
           asp-action="Index"
           asp-route-id="@Model.Id">
            <i class="@Icon.View"></i>
            @Html.DisplayNameFor(m => m.ViewActionButtonText)
        </a>
    </td>
    <td>@Model.Code</td>
    <td>@Model.Name</td>
</tr>