@using Agenda.Web.Models
@using Agenda.Web.ViewModels.Location
@using Agenda.Domain.DomainObjects.Locations
@model IndexViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span class="@Icon.Organisation"></span>
                <a asp-controller="OrganisationOverview"
                   asp-action="Index">Organisations</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Organisation"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">@Model.OrganisationName</a>
            </li>
            <li class="breadcrumb-item">
                <span class="@Icon.Location"></span>
                <a asp-controller="LocationOverview"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">Locations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
        </ol>
    </nav>
}

<main class="container-fluid flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-4">
            <div class="card card-default">
                <div class="card-header"><h4><span class="@Icon.Location"></span> @Html.DisplayNameFor(m => m.CardTitle)</h4></div>
                <div class="card-body">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.OrganisationName)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a class="btn btn-secondary"
                                   asp-controller="Organisation"
                                   asp-action="Index"
                                   asp-route-organisationid="@Model.OrganisationId">
                                    <span class="@Icon.Organisation"></span>
                                </a>
                            </div>
                            <div class="form-control">@Model.OrganisationName</div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.Name)</label>
                        <div class="form-control">@Model.Name</div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.Address)</label>
                        <div class="form-control">@Model.Address</div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.What3Words)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a href="https://what3words.com/@Model.What3Words">
                                    <span class="input-group-text"><img src="/img/what3word-logo.svg" alt="@DomainMetadata.What3Words.Prefix" style="width: 1.5rem;" /></span>
                                </a>
                            </div>
                            <div class="form-control">@Model.What3Words</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.Latitude) / @Html.DisplayNameFor(m => m.Longitude)</label>
                        <div class="form-control">@Model.Latitude,@Model.Longitude</div>
                    </div>
                    <a asp-controller="Location"
                       asp-action="StartEdit"
                       asp-route-locationId="@Model.LocationId"
                       asp-route-ajaxMode="0"
                       class="btn btn-primary"><span class="@Icon.Edit"></span> Edit</a>
                </div>
            </div>
        </div>
    </div>
</main>