@using Agenda.Web.Models
@using Metadata=Agenda.Domain.DomainObjects.Committees.Committee.DomainMetadata
@model Agenda.Web.ViewModels.Committee.AddViewModel

<nav class="sidebar d-none">
    <h1>Sidebar</h1>
</nav>
<main class="container-fluid flex-grow-1">
    <h1>Add Committee</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
            <div class="card card-default">
                <div class="card-header"><h5>Committee</h5></div>
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            @Html.ValidationSummary(false, "Errors: ")
                        </div>
                    }
                    @using (Html.BeginForm("Add", "Committee", FormMethod.Post))
                    {
                        <input type="hidden" value="@FormState.SubmittedBySubmitButton" name="FormState"/>
                        <input type="hidden" value="@Model.OrganisationId" name="OrganisationId"/>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name,
                                Model.Name,
                                new
                                {
                                    @class = "form-control",
                                    maxLength = Metadata.Name.MaxLength
                                })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class="text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextBoxFor(m => m.Description,
                                Model.Description,
                                new
                                {
                                    @class = "form-control",
                                    maxLength = Metadata.Description.MaxLength
                                })
                            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-primary" type="submit">Add Committee</button>
                    }
                </div>
            </div>
        </div>
    </div>
</main>