@using Agenda.Web.Models
@using Agenda.Web.ViewModels.LocationOverview
@model Agenda.Web.ViewModels.LocationOverview.IndexViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span class="@Icon.Organisation"></span>
                <a asp-controller="OrganisationOverview"
                   asp-action="Index">Organisations</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Organisation"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">@Model.OrganisationName</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <span class="@Icon.Location"></span>
                Locations
            </li>
        </ol>
    </nav>
    <nav class="actionsnavbar">
        <div class="list-group list-group-horizontal">
            <a class="list-group-item list-group-item-info"
               asp-controller="Home"
               asp-action="Index">
                <span class="@Icon.Dashboard"></span> Dashboard
            </a>
        </div>
    </nav>
}

<main class="container-fluid flex-grow-1">
    <h1>@Html.DisplayNameFor(m => m.PageTitle)</h1>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h4><span class="@Icon.Committee"></span> @Model.OrganisationName</h4>
                </div>
                <div class="card-body">
                    @if (Model.LocationViewModels.Any())
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.ActionTitle)</th>
                                    <th>@Html.DisplayNameFor(m => m.LocationName)</th>
                                    <th>@Html.DisplayNameFor(m => m.LocationAddress)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LocationViewModel locationViewModel in Model.LocationViewModels)
                                {
                                    @await Html.PartialAsync("_Location", locationViewModel)
                                }
                            </tbody>
                        </table>
                    }
                    <a asp-controller="Location"
                       asp-action="StartAdd"
                       asp-route-organisationId="@Model.OrganisationId"
                       class="btn btn-primary">
                        Add New Location
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>