@using Agenda.Web.Models
@model Agenda.Web.ViewModels.MeetingOverview.MeetingViewModel

<tr>
    <td class="td-min">
        <a class="btn btn-secondary btn-sm"
           asp-controller="Meeting"
           asp-action="Index"
           asp-route-meetingId="@Model.MeetingId">
            <i class="@Icon.View"></i>
            View
        </a>
    </td>
    <td class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
            <div><i class="@Icon.Date"></i> @Model.MeetingDate</div>
            <div><i class="@Icon.Time"></i> @Model.MeetingTime</div>
        </div>
    </td>
</tr>