@using Agenda.Web.Models
@using Agenda.Web.ViewModels.MeetingOverview
@model IndexViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span class="@Icon.Organisation"></span>
                <a asp-controller="OrganisationOverview"
                   asp-action="Index">Organisations</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Organisation"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">@Model.OrganisationName</a>
            </li>
            <li class="breadcrumb-item">
                <span class="@Icon.Committee"></span>
                <a asp-controller="CommitteeOverview"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">Committees</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Committee"
                   asp-action="Index"
                   asp-route-committeeId="@Model.CommitteeId">@Model.CommitteeName</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <span class="@Icon.Meeting"></span>
                Meetings
            </li>
        </ol>
    </nav>
}

<main class="container-fluid flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5">
            <div class="card card-default">
                <div class="card-header">
                    <h4><span class="@Icon.Meeting"></span> Meetings</h4>
                </div>
                <div class="card-body">
                    @if (Model.MeetingViewModels.Any())
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="td-min">Action</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (MeetingViewModel meetingViewModel in Model.MeetingViewModels)
                                {
                                    @await Html.PartialAsync("_Meeting", meetingViewModel)
                                }
                            </tbody>
                        </table>
                    }
                    <a asp-controller="Meeting"
                       asp-action="StartAdd"
                       asp-route-committeeId="@Model.CommitteeId"
                       class="btn btn-primary">
                        Add New Meeting
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>