@{
    string link = "http://localhost:8081/#/events?signal=signal-33";
}

<footer class="d-flex flex-row justify-content-between">
    <h1>Footer</h1>
    <div class="d-block d-sm-none">
        <a class="btn btn-secondary" href="@link" target="_blank">XS</a>
    </div>
    <div class="d-none d-sm-block d-md-none">
        <a class="btn btn-success" href="@link" target="_blank">SM</a>
    </div>
    <div class="d-none d-md-block d-lg-none">
        <a class="btn btn-primary" href="@link" target="_blank">MD</a>
    </div>
    <div class="d-none d-lg-block d-xl-none">
        <a class="btn btn-warning" href="@link" target="_blank">LG</a>
    </div>
    <div class="d-none d-xl-block">
        <a class="btn btn-danger" href="@link" target="_blank">XL</a>
    </div>
</footer>