@using Agenda.Web.Models
@using Agenda.Web.ViewModels.Meeting
@model IndexViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><span class="@Icon.Organisation"></span>
                <a asp-controller="OrganisationOverview"
                   asp-action="Index">Organisations</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Organisation"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">@Model.OrganisationName</a>
            </li>
            <li class="breadcrumb-item"><span class="@Icon.Committee"></span>
                <a asp-controller="CommitteeOverview"
                   asp-action="Index"
                   asp-route-organisationId="@Model.OrganisationId">Committees</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Committee"
                   asp-action="Index"
                   asp-route-committeeId="@Model.CommitteeId">@Model.CommitteeName</a>
            </li>
            <li class="breadcrumb-item"><span class="@Icon.Meeting"></span>
                <a asp-controller="MeetingOverview"
                   asp-action="Index"
                   asp-route-committeeId="@Model.CommitteeId">Meetings</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.MeetingDate</li>
        </ol>
    </nav>
}


<main class="container-fluid flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-4">
            <div class="card card-default">
                <div class="card-header"><h4><span class="@Icon.Meeting"></span> @Html.DisplayNameFor(m => m.CardTitle)</h4></div>
                <div class="card-body">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.OrganisationName)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a class="btn btn-secondary"
                                   asp-controller="Organisation"
                                   asp-action="Index"
                                   asp-route-organisationid="@Model.OrganisationId">
                                    <span class="@Icon.Organisation"></span>
                                </a>
                            </div>
                            <div class="form-control">@Model.OrganisationName</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.CommitteeName)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a class="btn btn-secondary"
                                   asp-controller="Organisation"
                                   asp-action="Index"
                                   asp-route-organisationid="@Model.CommitteeId">
                                    <span class="@Icon.Committee"></span>
                                </a>
                            </div>
                            <div class="form-control">@Model.CommitteeName</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.LocationName)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a class="btn btn-secondary"
                                   asp-controller="Location"
                                   asp-action="Index"
                                   asp-route-locationId="@Model.LocationId">
                                    <span class="@Icon.Location"></span>
                                </a>
                            </div>
                            <div class="form-control">@Model.LocationName</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="form-group flex-grow-1">
                            <label>@Html.DisplayNameFor(m => m.MeetingDate)</label>
                            <div class="form-control">@Model.MeetingDate</div>
                        </div>
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(m => m.MeetingTime)</label>
                            <div class="form-control">@Model.MeetingTime</div>
                        </div>
                    </div>
                    <a asp-controller="Meeting"
                       asp-action="StartEdit"
                       asp-route-meetingId="@Model.MeetingId"
                       asp-route-ajaxMode="0"
                       class="btn btn-primary"><span class="@Icon.Edit"></span> Edit</a>
                </div>
            </div>
        </div>
    </div>
</main>