@using Agenda.Web.Models
@model Agenda.Web.ViewModels.Organisation.CommitteeViewModel

<tr>
    <td>
        <a class="btn btn-secondary btn-sm"
           asp-controller="Committee"
           asp-action="Index"
           asp-route-committeeId="@Model.CommitteeId">
            <i class="@Icon.View"></i>
            @Html.DisplayNameFor(m => m.ViewActionButtonText)
        </a>
    </td>
    <td>@Model.Name<br /><i>@Model.Description</i></td>
</tr>