@using Agenda.Web.Models
@using Metadata = Agenda.Domain.DomainObjects.Organisations.DomainMetadata
@model Agenda.Web.ViewModels.Organisation.EditViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <span class="@Icon.Organisation"></span>
                <a asp-controller="OrganisationOverview"
                   asp-action="Index">Organisations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.Name
            </li>
        </ol>
    </nav>
    <nav class="actionsnavbar">
        <div class="list-group list-group-horizontal">
            <a class="list-group-item list-group-item-info"
               asp-controller="Home"
               asp-action="Index">
                <span class="@Icon.Dashboard"></span> Dashboard
            </a>
        </div>
    </nav>
}

<main class="container-fluid flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
            <div class="card card-default">
                <div class="card-header"><h4><i class="@Icon.Organisation"></i> Edit Organisation</h4></div>
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            @Html.ValidationSummary(false, "Errors: ")
                        </div>
                    }
                    @using (Html.BeginForm("Edit", "Organisation", FormMethod.Post))
                    {
                        <input type="hidden" value="@FormState.SubmittedBySubmitButton" name="FormState" />
                        <input type="hidden" value="@Model.OrganisationId" name="OrganisationId" />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Code)
                            @Html.TextBoxFor(m => m.Code,
                                Model.Code,
                                new
                                {
                                    @class = "form-control",
                                    maxLength = Metadata.Code.MaxLength
                                })
                            @Html.ValidationMessageFor(m => m.Code, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name,
                                Model.Name,
                                new
                                {
                                    @class = "form-control",
                                    maxLength = Metadata.Name.MaxLength
                                })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-primary" type="submit">
                            <span class="@Icon.Save"></span>
                            Save Organisation
                        </button>
                        <a class="btn btn-secondary"
                           type="button"
                           asp-controller="Organisation"
                           asp-action="Index"
                           asp-route-organisationId="@Model.OrganisationId">
                            <span class="@Icon.Cancel"></span>
                            Cancel
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</main>