
@using Agenda.Web.Models
@using Agenda.Web.ViewModels.Organisation
@model IndexViewModel

@section BreadCrumb
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span class="@Icon.Organisation"></span>
                <a asp-controller="OrganisationOverview"
                   asp-action="Index">Organisations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.Name
            </li>
        </ol>
    </nav>
    <nav class="actionsnavbar">
        <div class="list-group list-group-horizontal">
            <a class="list-group-item list-group-item-info"
               asp-controller="Home"
               asp-action="Index">
                <span class="@Icon.Dashboard"></span> Dashboard
            </a>
            <a class="list-group-item list-group-item-info"
               asp-controller="CommitteeOverview"
               asp-action="Index"
               asp-route-organisationId="@Model.OrganisationId">
                <span class="@Icon.Committee"></span> Committees
            </a>
        </div>
    </nav>
}

<main class="container-fluid flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-4">
            <div class="card card-default">
                <div class="card-header d-flex flex-row justify-content-between">
                    <h4><span class="@Icon.Organisation"></span> @Html.DisplayNameFor(m => m.CardTitle)</h4>
                    <div class="list-group list-group-horizontal">
                        <a class="list-group-item list-group-item-info py-1 px-2"
                           asp-controller="CommitteeOverview"
                           asp-action="Index"
                           asp-route-organisationId="@Model.OrganisationId">
                            <span class="@Icon.Committee"></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.Code)</label>
                        <div class="form-control">@Model.Code</div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.Name)</label>
                        <div class="form-control">@Model.Name</div>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(m => m.BgColour)</label>
                        <div class="input-group">
                            <div class="form-control">#@Model.BgColour</div>
                            <div class="input-group-append" style="background-color: @Model.BgColourWithHash; width: 3rem;"></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <a asp-controller="Organisation"
                           asp-action="StartEdit"
                           asp-route-organisationId="@Model.OrganisationId"
                           asp-route-ajaxMode="0"
                           class="btn btn-primary"><span class="@Icon.Edit"></span> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>